@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reset some common styles for consistency */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Apply body-level styles */
  body {
    background-color: #26547c;
    font-family: "Roboto", sans-serif; /* Preferred font */
    line-height: 1.5;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }
}
